<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity configSource="config\unity.config" />
  <!--Step:配置数据库连接字符串-->
  <connectionStrings>
    <add name="TestDB" connectionString="your connection string"/>
  </connectionStrings>
</configuration>
